{{#each contributions}}

<form id="req{{@index}}" action="/contributions/pendingContributions" method="POST" enctype="multipart/form-data" class="new-search-form">
    <img src="{{this.media_path}}" alt= "Image"/>

    <label>
        Text:
        <span>{{this.text}}</span>
    </label>

    <select id="sl_level{{@index}}">
        
        <option value="beginner" >Beginner</option>
        <option value="intermediate">Intermediate</option>
        <option value="advanced">Advanced</option>
    </select>

    <select id="sl_status{{@index}}">
        
        <option value="approve">Approve</option>
        <option value="reject">Reject</option>
    </select>

    <input type="hidden" id="contribution_id{{@index}}" value="{{this._id}}" />

    <button type="submit" class="approveOrReject" name="{{@index}}"> submit</button>
</form>

{{/each}}