<div>
  First Name:
  {{userData.userInfo.firstname}}
  </br>
  Last Name: {{userData.userInfo.lastname}}
  </br>
  User Type: {{userData.userInfo.userType}}
  </br>
  Profile Views: {{userData.userInfo.profileViews}}
  </br>
  Number of pending Contributions: {{userData.contributionsInfo}}

</div>