<div>
  First Name:
  {{userData.userInfo.firstname}}
  </br>
  Last Name: {{userData.userInfo.lastname}}
  </br>
  User Type: {{userData.userInfo.userType}}
  </br>
  Profile Views: {{userData.userInfo.profileViews}}
  </br>
  Number of pending Contributions: {{userData.contributionsInfo}}

<<<<<<< HEAD
    
=======
>>>>>>> 59c1f9bcf7e1902754ea13fc3545a6b5dea79236
</div>