<div>
    First Name:
    {{userData.userInfo.firstname}}
    </br>
    Last Name: {{userData.userInfo.lastname}}
        </br>
    User Type: {{userData.userInfo.userType}}
    </br>
    Profile Views: {{userData.userInfo.profileViews}}
    </br>
    Contributions: {{userData.contributionsInfo}}
    {{!-- <dl>
        <dt>Contributions: </dt>
        <dd>language Type: {{userData.contributionsInfo.language_type}}</dd>
        <dd>Approval status: {{userData.contributionsInfo.approval_status}}</dd>
    </dl> --}}

    
</div>