<div>
  First Name:
  {{userData.userInfo.firstname}}
  </br>
  Last Name: {{userData.userInfo.lastname}}
  </br>
  User Type: {{userData.userInfo.userType}}
  </br>
  Profile Views: {{userData.userInfo.profileViews}}
  </br>
  
  User Progress : {{userData.progressInfo}}
<br>
  Contribution Badge : {{badges.contribution_badge}}
<br>
  Test Badge : {{badges.test_badge}}
<br>
</div>